Assignment 1: Understanding Python Data Types

Instructions:
Read the following article to understand the basic data types in Python: https://docs.python.org/3/library/stdtypes.html
In a Jupyter Notebook, write a code to demonstrate the use of the following data types:
- Integer
- Float
- String
- List

For each data type, write a code that does the following:
1. Create a variable with a relevant name and assign a value to it.
2. Print the data type of the variable.
3. Perform at least two operations on the variable (e.g., add, multiply, concatenate, etc.) and print the result of the operations

In [ ]:
#Integer:

# Create a variable
age = 27

# Print the data type of the variable
print(type(age))
# output: int

# Perform operations
age = age + 3 # age += 3
age = age * 2

# Print the result of the operations
print(age)
# Output: 60

In [ ]:
# Float

# Create a variable
height = 70.5 # in inches

print(type(height))

# Perform operations
height = height / 3.5 # division
height = height // 2 ## floor division

print(height)

In [2]:
# String

# Create a variable
greeting = "hello "

print(type(greeting))

# Perform operations
greeting = greeting + "World" # concatenation
greeting = greeting * 2 # Repeat

print(greeting)

<class 'str'>
hello Worldhello World

In [3]:
# List
# 1. Creating a variable
my_list = [1, 2, 3]

# 2. Printing the data type
print(type(my_list))

# 3. Performing mathematical operations
# Concatenation
result1 = my_list + [4, 5]
print(result1)

# Repetition
result2 = my_list * 2
print(result2)

<class 'list'>
[1, 2, 3, 4, 5]
[1, 2, 3, 1, 2, 3]